@import url(https://fonts.googleapis.com/css?family=Domine|Montserrat:300,400,600,700|Roboto:400,500,700);

* {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #898E8F;
}
h2 {
  font-weight: bold;
  line-height: 0.5;
}
h6 {
  margin-bottom: -10px;
  color: #898E8F;
  font-size: 14px;
}
$family-Roboto: 'Roboto', sans-serif;
$family-Montserrat: 'Montserrat', sans-serif;

